@use '../../../css/variables.scss' as *;

.buttons {
	margin-top: auto;
	padding-top: $gapSizeA * 2.5;
}

@media only screen and (min-width: 1000px) {
	.buttons {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
