@use '../../../css/variables' as *;

.searchResults {
	margin-top: $gapSizeB;

	font-weight: 400;
}

.noneFound {
	font-size: $fontSizeASm;
}

@media only screen and (min-width: 1400px) {
	.noneFound {
		font-size: $fontSizeBSm;
	}
}

@media only screen and (min-width: 3500px) {
	.noneFound {
		font-size: $fontSizeCSm;
	}
}
