@use '../../scss/variables' as *;

.column {
	position: relative;
	z-index: 1;

	display: flex;
	flex-direction: column;
	gap: $gapSizeA;
}

@media only screen and (min-width: 1400px) {
	.column {
		width: calc(100% / 3);
		height: 100%;
		margin-bottom: 0;

		&--wide {
			width: calc(100% - (100% / 3));
		}
	}
}

@media only screen and (min-width: 2500px) {
	.column {
		gap: $gapSizeB;
	}
}
