@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&family=Open+Sans:wght@400;600&display=swap');
@import './reset.scss';

$themes: (
	bloodborne: (
		"background": url(../img/background-bb.webp) black center bottom no-repeat,
		"background-mobile": url(../img/background-bb-m.webp) black center bottom no-repeat,
		"accent1": #6e697b,
		"accent2": #d13f31,
		"fontColor": #20263c
	),
	hyperLightDrifter: (
		"background": url(../img/background-hld.webp) black center bottom no-repeat,
		"background-mobile": url(../img/background-hld-m.webp) black center bottom no-repeat,
		"accent1": #47508b,
		"accent2": #d26398,
		"fontColor": #1e2e47
	),
	darkSouls: (
		"background": url(../img/background-ds.webp) black center bottom no-repeat,
		"background-mobile": url(../img/background-ds-m.webp) black center bottom no-repeat,
		"accent1": #81a7c9,
		"accent2": #bf7b2a,
		"fontColor": #031c23
	),
	hollowKnight: (
		"background": url(../img/background-hk.webp) black center center no-repeat,
		"background-mobile": url(../img/background-hk-m.webp) black center center no-repeat,
		"accent1": #09272b,
		"accent2": #a24558,
		"fontColor": #061a20
	),
	journey: (
		"background": url(../img/background-journey.webp) black center bottom no-repeat,
		"background-mobile": url(../img/background-journey-m.webp) black center bottom no-repeat,
		"accent1": #e2b26b,
		"accent2": #a84535,
		"fontColor": #704537
	),
	muramasa: (
		"background": url(../img/background-muramasa.webp) black center bottom no-repeat,
		"background-mobile": url(../img/background-muramasa-m.webp) black center bottom no-repeat,
		"accent1": #ecba67,
		"accent2": #c85158,
		"fontColor": #471e18
	),
	sekiro: (
		"background": url(../img/background-sekiro.webp) black center center no-repeat,
		"background-mobile": url(../img/background-sekiro-m.webp) black center center no-repeat,
		"accent1": #505976,
		"accent2": #a85684,
		"fontColor": #212639
	),
	metroid: (
		"background": url(../img/background-metroid.webp) black center center no-repeat,
		"background-mobile": url(../img/background-metroid-m.webp) black center center no-repeat,
		"accent1": #56545f,
		"accent2": #efeb83,
		"fontColor": #1a161a
	),
	zelda: (
		"background": url(../img/background-zelda.webp) black center center no-repeat,
		"background-mobile": url(../img/background-zelda-m.webp) black center center no-repeat,
		"accent1": #fadbc7,
		"accent2": #7c6aa4,
		"fontColor": #783d35
	),
	ffix: (
		"background": url(../img/background-ffix.webp) black center bottom no-repeat,
		"background-mobile": url(../img/background-ffix-m.webp) black center bottom no-repeat,
		"accent1": #553230,
		"accent2": #c35530,
		"fontColor": #3a2124
	)
);

@mixin themify($themes: $themes) {
	@each $theme, $attribute in $themes {
		body.#{$theme} {
			color: map-get($attribute, 'fontColor');

			&::-webkit-scrollbar {
				display: none;
			}

			.background {
				background: map-get($attribute, 'background-mobile');
				background-size: cover;
			}

			.navBar, .box {
				border: 2px solid #{map-get($attribute, 'accent2')};
			}

			.gameDataTable {
				&__divider {
					&:after {
						background-color: #{map-get($attribute, 'fontColor')};
					}
				}
			}

			.modal {
				&__content {
					color: map-get($attribute, 'fontColor');

					border: 2px solid map-get($attribute, 'accent2');
				}

				&__close {
					fill: map-get($attribute, 'fontColor');
				}

				&::-webkit-scrollbar-thumb {
					background-color: map-get($attribute, 'accent2'); 
				}
			}

			.gameInfo__star--full {
				color: map-get($attribute, 'accent2');
			}

			.gameInfo__star--half {
				&:after {
					color: map-get($attribute, 'accent2');
				}
			}
		}

		@media only screen and (min-width: 1400px) {
			body.#{$theme} {
				.background {
					background: map-get($attribute, 'background');
					background-size: cover;
				}

				.navBar, .box {
					border: 2px solid #{map-get($attribute, 'accent1')};
	
					&::-webkit-scrollbar-thumb {
						background-color: map-get($attribute, 'accent1');
					}
	
					&:hover {
						border: 2px solid #{map-get($attribute, 'accent2')};
	
						&::-webkit-scrollbar-thumb {
							background-color: map-get($attribute, 'accent2'); 
						}
					}
				}
			}
		}
	}
}

$gapSize: 10px;
$itemPadding: 5px;

h1,
h2,
.yearList {
	font-size: 1.8em;
}

.navBar,
.emptyBox,
.gameDataTable__divider,
.modal__statusButton,
.modal__button,
.gameInfo,
.searchResults__noneFound {
	font-size: 1.6em;
}

.gameDataTable,
.statsBox,
.modal__label,
.modal__input,
.modalTable__header,
.modalTable__cell {
	font-size: 1.4em;
}

body {
	min-height: 100%;
	padding: $gapSize;
	overflow-x: hidden;
	overflow-y: auto;

	font-family: 'Open Sans', Arial, sans-serif;

	&.modal-is-open {
		overflow-y: hidden;
	}
}

h1 {
	margin-bottom: calc(#{$gapSize} * 1.5);
	padding: 0 $gapSize;

	font-family: 'Fira Code', monospace;
	font-weight: 600;

	cursor: default;

	&.clickable span {
		display: inline-block;

		border-bottom: 2px solid;

		cursor: pointer;
	}
}

h2 {
	margin-bottom: $gapSize * 2;
	padding: 0 40px;

	font-family: 'Fira Code', monospace;
	font-weight: 600;
	text-align: center;

	cursor: default;
}

h3 {
	margin-bottom: $gapSize;

	font-weight: 600;

	cursor: default;
}

.column {
	position: relative;
	z-index: 1;

	margin-bottom: $gapSize;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.navBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: $gapSize;

	font-weight: 600;

	background: rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);

	&__item {
		width: calc(100% / 4);
		display: inline-block;
		padding: $gapSize;

		text-align: center;

		cursor: pointer;

		&.is-selected {
			background: rgba(255, 255, 255, 0.5);
		}
	}
}

.box {
	margin-bottom: $gapSize;
	padding: $gapSize 0 calc(#{$gapSize} - #{$itemPadding});

	background: rgba(255, 255, 255, 0.6);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);

	&:last-of-type {
		margin-bottom: 0;
	}

	&--stats {
		padding: $gapSize 0;
	}
}

.emptyBox {
	&__link {
		text-decoration: underline;

		cursor: pointer;
	}
}

.gameDataTable {
	width: 100%;
	table-layout: fixed;

	&__header {
		padding: 0 $gapSize #{$gapSize / 2};

		font-weight: 600;

		cursor: default;

		&.is-active-sort span {
			border-bottom: 2px solid;
		}
	}

	&--details {
		.gameDataTable__header {
			cursor: pointer;
		}
	}

	&__cell {
		padding: $itemPadding $gapSize;
	}

	&__title {
		overflow: hidden;

		text-align: left;
		text-overflow: ellipsis;
		white-space: nowrap;

		&--dropped {
			text-decoration: line-through;
		}
	}

	&__hours, &__detailsHours, &__small {
		display: none;
	}

	&__date {
		width: 155px;
		text-align: right;
	}

	&__game {
		cursor: pointer;
	}

	&__divider {
		display: flex;
		align-items: center;
		padding: 0 $gapSize;
		margin: calc(#{($gapSize) + $itemPadding}) 0 $gapSize;

		font-weight: 600;

		cursor: default;

		&:after {
			content: '';

			display: block;
			width: 100%;
			height: 1px;
			margin-left: $gapSize;
			opacity: 0.5
		}

		&--currentYear {
			margin-top: 0;
		}
	}
}

.emptyBox {
	padding: 0 $gapSize $itemPadding;

	font-weight: 600;

	cursor: default;
}

.statsBox {
	margin-bottom: $gapSize * 2;
	padding: 0 $gapSize;

	&:last-of-type {
		margin-bottom: 0;
	}

	&__stat {
		display: block;
		margin-bottom: $gapSize;

		cursor: default;

		&--linked {
			cursor: pointer;
		}

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

.yearList {
	margin: 0;
	padding: 0 $gapSize;

	list-style: none;

	&__year {
		margin-bottom: $gapSize;

		cursor: pointer;

		&:hover :after {
			content: ' \2190';

			position: relative;
			top: -3px;
		}

		&.is-selected :after {
			content: ' \2190';

			position: relative;
			top: -3px;
		}
	}
}

.modal {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 2;

	&__content {
		position: fixed;
		top: $gapSize;
		left: $gapSize;
		z-index: 3;

		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		width: calc(100% - #{$gapSize * 2});
		height: calc(100% - #{$gapSize * 2});
		padding: $gapSize;
		overflow-x: hidden;
		overflow-y: auto;

		font-weight: 600;

		background: rgba(255, 255, 255, 0.65);
		box-shadow: 0 0 35px rgba(0, 0, 0, 0.75);
	}

	&__fieldSet {
		display: flex;
		justify-content: space-between;
	}

	&__statusButton {
		display: inline-block;
		width: calc((100% / 3) - 1%);
		margin: 0 0 #{$gapSize * 2} 0;
		padding: $gapSize;

		text-align: center;

		background: rgba(255, 255, 255, 0.5);
		border: 2px solid #aaa;

		cursor: pointer;

		&.is-selected, &:hover {
			background: rgba(255, 255, 255, 1);
		}
	}

	&__field {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 0 $gapSize 0;

		&:last-of-type {
			margin: 0;
		}
	}

	&__label {
		flex-basis: 120px;
		flex-shrink: 0;
		margin-right: $gapSize;

		text-align: right;
	}

	&__input {
		flex-basis: 100%;
		padding: 7px;

		background: #fff;
		border: 2px solid #aaa;

		&--search {
			margin-right: 5px;
			padding: 9px;
		}

		&.is-invalid {
			border: 2px solid red;
		}

		&:focus {
			border: 2px solid #666;
			outline: 0;
		}
	}

	&__buttons {
		margin-top: auto;
		padding-top: $gapSize;
	}

	&__button {
		width: 100%;
		margin: 0 0 $gapSize 0;
		padding: $gapSize $gapSize * 2;

		background: white;

		&:last-of-type {
			margin-bottom: 0;
		}

		&--delete {
			color: white;

			background: red;
		}

		&--search {
			flex-basis: 125px;
			flex-shrink: 0;
			width: auto;

			border: 2px solid #aaa;
		}
	}

	&__close {
		position: absolute;
		top: $gapSize;
		right: $gapSize;

		width: 15px;
		height: 15px;

		cursor: pointer;
	}

	&__background {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;

		background: rgba(0, 0, 0, 0.85);
	}
}

.gameInfo {
	text-align: center;

	&__header {
		&--withRating {
			margin-bottom: $gapSize;
		}
	}

	&__starRating {
		margin-bottom: $gapSize;
	}

	&__star {
		position: relative;

		display: inline-block;

		font-size: 30px;

		cursor: default;

		&:before {
			content: '\2605';

			display: block;
			height: 100%;
		}

		&--half {
			&:after {
				content: '\2605';

				position: absolute;
				top: 0;
				left: 0;

				width: 50%;
				height: 100%;
				overflow: hidden;
			}
		}
	}

	&__stat {
		display: block;
		margin-bottom: $gapSize;

		cursor: default;

		&--playthroughs {
			cursor: pointer;
		}
	}
}

.modalTable {
	width: 100%;

	&__header {
		padding: 0 #{$gapSize / 2} $gapSize;

		text-align: left;

		cursor: default;
	}

	&__dataRow {
		&:nth-child(2n) {
			background: rgba(255, 255, 255, 0.15);
		}
	}

	&__cell {
		padding: #{$gapSize / 2};

		font-weight: 400;
	}
}

.playthroughsTable {
	&__dataRow {
		cursor: pointer;
	}

	&__dateStarted, &__timesCompleted {
		display: none;
	}

	&__hours, &__platform {
		width: 70px;

		text-align: center;
	}

	&__dropped {
		text-decoration: line-through;
	}
}

.searchResults {
	&__header {
		margin-top: #{$gapSize * 2};
	}

	&__noneFound {
		margin-top: #{$gapSize * 2};

		text-align: center;
	}
}

.searchResultsTable {
	&__dataRow {
		overflow: hidden;

		text-align: left;
		text-overflow: ellipsis;
		white-space: nowrap;

		cursor: pointer;
	}
}

.background {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;

	width: 100vw;
	height: 100vh;
}

@include themify;

@media (min-width: 1000px) {
	h1,
	h2,
	.yearList {
		font-size: 2.4em;
	}

	.navBar,
	.emptyBox,
	.gameDataTable__divider,
	.gameInfo,
	.searchResults__noneFound {
		font-size: 2.2em;
	}

	.gameDataTable,
	.statsBox,
	.modal__statusButton,
	.modal__button,
	.modal__label,
	.modal__input,
	.modalTable__header,
	.modalTable__cell {
		font-size: 2em;
	}

	.navBar {
		backdrop-filter: blur(3px);
	}

	.box {
		background: rgba(255, 255, 255, 0.5);
		backdrop-filter: blur(3px);
	}

	.gameDataTable {
		&__hours, &__detailsHours {
			display: table-cell;
			width: 80px;

			text-align: center;
		}

		&__date {
			width: 210px;
		}
	}

	.modal {
		&__content {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			display: block;
			width: 750px;
			height: auto;
			max-height: calc(100% - #{$gapSize * 2});
			padding: $gapSize * 2;
		}

		&__label {
			flex-basis: 175px;
		}

		&__buttons {
			display: flex;
			justify-content: center;
			align-items: center;

			margin-top: $gapSize * 2;
		}

		&__button {
			width: auto;
			margin: 0 #{$gapSize / 2};
		}

		&__close {
			display: none;
		}
	}

	.gameInfo {
		&__star {
			font-size: 40px;
		}
	}

	.modalTable {
		&__header {
			padding: 0 #{$gapSize / 1.5} $gapSize;
		}

		&__cell {
			padding: #{$gapSize / 1.5};
		}
	}

	.playthroughsTable {
		&__dateStarted, &__timesCompleted {
			display: table-cell;
		}

		&__timesCompleted {
			text-align: center;
		}

		&__hours, &__timesCompleted, &__platform {
			width: 95px;
		}
	}
}

@media only screen and (min-width: 1400px) {
	h1,
	.yearList {
		font-size: 1.8em;
	}

	.navBar,
	.emptyBox,
	.gameDataTable__divider {
		font-size: 1.6em;
	}

	.gameDataTable,
	.statsBox {
		font-size: 1.4em;
	}

	body, html {
		width: 100%;
		height: 100%;
		overflow-y: hidden;
	}

	#vidya {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		height: 100%;
	}

	.column {
		display: flex;
		flex-direction: column;
		width: calc((100% / 3) - ((#{$gapSize} * 2) / 3));
		height: 100%;
		margin-bottom: 0;

		&--twoCol {
			&:first-of-type {
				width: calc((100% / 3) - (#{$gapSize * 2} / 3));
			}

			&:last-of-type {
				width: calc(100% - ((100% / 3) - (#{$gapSize * 2} / 3) + #{$gapSize}));
			}
		}
	}

	.navBar {
		&__item {
			&:hover {
				background: rgba(255, 255, 255, 0.5);
			}
		}
	}

	.box {
		overflow-x: hidden;
		overflow-y: auto;
	}

	.gameDataTable {
		&__game {	
			&:hover {
				background: rgba(255, 255, 255, 0.5);
			}
		}

		&__hours {
			width: 62px;
			text-align: center;
		}

		&__detailsHours {
			width: 80px;
		}

		&__small {
			display: table-cell;
			width: 80px;

			text-align: center;
		}

		&__date {
			width: 155px;
		}
	}

	.playthroughsTable {
		&__dataRow {
			&:hover {
				background: rgba(255, 255, 255, 0.5);
			}
		}
	}

	.searchResultsTable {
		&__dataRow {
			&:hover {
				background: rgba(255, 255, 255, 0.5);
			}
		}
	}

	.noshrink {
		flex-shrink: 0;
	}
}

@media only screen and (min-width: 2500px) {
	$gapSize: 20px;
	$itemPadding: 5px;

	h1,
	h2,
	.yearList {
		font-size: 2.4em;
	}

	.navBar,
	.emptyBox,
	.gameDataTable__divider {
		font-size: 2.2em;
	}

	.gameDataTable,
	.statsBox {
		font-size: 2em;
	}

	body {
		padding: $gapSize;
	}

	h1 {
		margin-bottom: $gapSize;
		padding: 0 $gapSize;
	}

	.column {
		width: calc((100% / 3) - ((#{$gapSize} * 2) / 3));

		&--twoCol {
			&:first-of-type {
				width: calc((100% / 3) - (#{$gapSize * 2} / 3));
			}

			&:last-of-type {
				width: calc(100% - ((100% / 3) - (#{$gapSize * 2} / 3) + #{$gapSize}));
			}
		}
	}

	.navBar {
		margin-bottom: $gapSize;
	}

	.box {
		margin-bottom: $gapSize;
		padding: $gapSize 0 calc(#{$gapSize} - #{$itemPadding});

		&--stats {
			padding: $gapSize 0;
		}
	}

	.gameDataTable {
		&__header {
			padding: 0 $gapSize #{$gapSize / 2};
		}

		&__cell {
			padding: $itemPadding $gapSize;
		}

		&__hours {
			width: 100px;
		}

		&__detailsHours, &__small {
			width: 125px;
		}

		&__date {
			width: 230px;
		}

		&__divider {
			padding: 0 $gapSize;
			margin: calc(#{$gapSize + $itemPadding}) 0 $gapSize;

			&:after {
				margin-left: $gapSize;
			}

			&--currentYear {
				margin-top: 0;
			}
		}
	}

	.emptyBox {
		padding: 0 $gapSize $itemPadding;
	}

	.statsBox {
		padding: 0 $gapSize;
	}

	.yearList {
		padding: 0 $gapSize;
	}

	.modal {
		&__content {
			max-height: calc(100% - #{$gapSize * 2});
		}
	}
}

@media only screen and (min-width: 3500px) {
	$gapSize: 20px;
	$itemPadding: 9px;

	h1,
	h2,
	.yearList {
		font-size: 3.6em;
	}

	.navBar,
	.emptyBox,
	.gameDataTable__divider,
	.gameInfo,
	.searchResults__noneFound {
		font-size: 3.4em;
	}

	.gameDataTable,
	.statsBox,
	.modal__input,
	.modal__label,
	.modal__statusButton,
	.modal__button,
	.modalTable__header,
	.modalTable__cell {
		font-size: 3.2em;
	}

	h1 {
		margin-bottom: calc(#{$gapSize} * 1.5);
	}

	.box {
		padding: $gapSize 0 calc(#{$gapSize} - #{$itemPadding});
	}

	.gameDataTable {
		&__cell {
			padding: $itemPadding $gapSize;
		}

		&__hours {
			width: 135px;
		}

		&__detailsHours, &__small {
			width: 175px;
		}

		&__date {
			width: 345px;
		}
	}

	.emptyBox {
		padding: 0 $gapSize $itemPadding;
	}

	.modal {
		&__content {
			width: 1250px;
		}

		&__label {
			flex-basis: 285px;
		}
	}

	.modalTable {
		&__header {
			padding: 0 #{$gapSize / 1.5} $gapSize;
		}

		&__cell {
			padding: $gapSize / 2;
		}
	}

	.playthroughsTable {
		&__hours, &__timesCompleted, &__platform {
			width: 135px;
		}
	}
}
