$gapSizeA: 10px;
$gapSizeB: 20px;

$itemPaddingA: 5px;
$itemPaddingB: 7px;
$itemPaddingC: 9px;

$fontSizeASm: 1.4em;
$fontSizeAMd: 1.6em;
$fontSizeALg: 1.8em;

$fontSizeBSm: 2em;
$fontSizeBMd: 2.2em;
$fontSizeBLg: 2.4em;

$fontSizeCSm: 3.2em;
$fontSizeCMd: 3.4em;
$fontSizeCLg: 3.6em;
